WebClient/Connected Services/CustomerServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCustomer" nillable="true" type="tns:ServiceCustomer" />
</xs:schema>