WebClient/Connected Services/ProductLineServiceReference/ProductLineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductLineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductLineService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllBrands_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBrands" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllBrands_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_DeleteProductLine_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductLine" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_DeleteProductLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductLineResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_InsertProductLine_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductLine" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_InsertProductLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductLineResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_UpdateProductLine_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductLine" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_UpdateProductLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductLineResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_InsertProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProduct" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_InsertProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllReviewsByProductId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewsByProductId" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_GetAllReviewsByProductId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewsByProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_InsertReview_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertReview" />
  </wsdl:message>
  <wsdl:message name="IProductLineService_InsertReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductLineService">
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/GetAllCategories" message="tns:IProductLineService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/GetAllCategoriesResponse" message="tns:IProductLineService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBrands">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/GetAllBrands" message="tns:IProductLineService_GetAllBrands_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/GetAllBrandsResponse" message="tns:IProductLineService_GetAllBrands_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/DeleteProductLine" message="tns:IProductLineService_DeleteProductLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/DeleteProductLineResponse" message="tns:IProductLineService_DeleteProductLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProductLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/InsertProductLine" message="tns:IProductLineService_InsertProductLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/InsertProductLineResponse" message="tns:IProductLineService_InsertProductLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/UpdateProductLine" message="tns:IProductLineService_UpdateProductLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/UpdateProductLineResponse" message="tns:IProductLineService_UpdateProductLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/InsertProduct" message="tns:IProductLineService_InsertProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/InsertProductResponse" message="tns:IProductLineService_InsertProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/DeleteProduct" message="tns:IProductLineService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/DeleteProductResponse" message="tns:IProductLineService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/UpdateProduct" message="tns:IProductLineService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/UpdateProductResponse" message="tns:IProductLineService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/GetProductById" message="tns:IProductLineService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/GetProductByIdResponse" message="tns:IProductLineService_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/GetAllProducts" message="tns:IProductLineService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/GetAllProductsResponse" message="tns:IProductLineService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewsByProductId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/GetAllReviewsByProductId" message="tns:IProductLineService_GetAllReviewsByProductId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/GetAllReviewsByProductIdResponse" message="tns:IProductLineService_GetAllReviewsByProductId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductLineService/InsertReview" message="tns:IProductLineService_InsertReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductLineService/InsertReviewResponse" message="tns:IProductLineService_InsertReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductLineService" type="tns:IProductLineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBrands">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/GetAllBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductLine">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/DeleteProductLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProductLine">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/InsertProductLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductLine">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/UpdateProductLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProduct">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/InsertProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviewsByProductId">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/GetAllReviewsByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertReview">
      <soap:operation soapAction="http://tempuri.org/IProductLineService/InsertReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductLineService">
    <wsdl:port name="BasicHttpBinding_IProductLineService" binding="tns:BasicHttpBinding_IProductLineService">
      <soap:address location="http://localhost:8081/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>