WebClient/Connected Services/ProductLineServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceProductLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductLineId" type="xs:int" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProductLine" nillable="true" type="tns:ServiceProductLine" />
</xs:schema>