WebClient/Connected Services/ProductLineServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Model" />
  <xs:element name="DeleteProductLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productLineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Model" minOccurs="0" name="serviceProductLine" nillable="true" type="q1:ServiceProductLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Model" minOccurs="0" name="serviceProductLine" nillable="true" type="q2:ServiceProductLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>