WebClient/Connected Services/ProductLineServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCategory" nillable="true" type="tns:ServiceCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCategory" nillable="true" type="tns:ArrayOfServiceCategory" />
  <xs:complexType name="ServiceCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCategory" nillable="true" type="tns:ServiceCategory" />
  <xs:complexType name="ArrayOfServiceBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceBrand" nillable="true" type="tns:ServiceBrand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceBrand" nillable="true" type="tns:ArrayOfServiceBrand" />
  <xs:complexType name="ServiceBrand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceBrand" nillable="true" type="tns:ServiceBrand" />
  <xs:complexType name="ServiceProductLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:ServiceProduct" />
      <xs:element minOccurs="0" name="ProductLineId" type="xs:int" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProductLine" nillable="true" type="tns:ServiceProductLine" />
  <xs:complexType name="ServiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountOnStock" type="xs:int" />
      <xs:element minOccurs="0" name="BrandId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="rowId" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
  <xs:complexType name="ArrayOfServiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceProduct" nillable="true" type="tns:ArrayOfServiceProduct" />
  <xs:complexType name="ArrayOfServiceReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceReview" nillable="true" type="tns:ServiceReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceReview" nillable="true" type="tns:ArrayOfServiceReview" />
  <xs:complexType name="ServiceReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceReview" nillable="true" type="tns:ServiceReview" />
</xs:schema>