WebClient/Connected Services/ProductServiceReference/Service.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
  <xs:complexType name="ArrayOfServiceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceProduct" nillable="true" type="tns:ServiceProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceProduct" nillable="true" type="tns:ArrayOfServiceProduct" />
</xs:schema>