WebClient/Connected Services/OrderServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceCustomerOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="DateOrder" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DiscountId" type="xs:int" />
      <xs:element minOccurs="0" name="FinalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCustomerOrder" nillable="true" type="tns:ServiceCustomerOrder" />
</xs:schema>