WebClient/Connected Services/DeliveryDescriptionServiceReference/DeliveryDescriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeliveryDescriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeliveryDescriptionService_InsertDeliveryDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDeliveryDescription" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_InsertDeliveryDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDeliveryDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_GetDeliveryDescriptionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryDescriptionById" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_GetDeliveryDescriptionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliveryDescriptionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_UpdateDeliveryDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryDescription" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_UpdateDeliveryDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDeliveryDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_DeleteDeliveryDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeliveryDescription" />
  </wsdl:message>
  <wsdl:message name="IDeliveryDescriptionService_DeleteDeliveryDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDeliveryDescriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeliveryDescriptionService">
    <wsdl:operation name="InsertDeliveryDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/InsertDeliveryDescription" message="tns:IDeliveryDescriptionService_InsertDeliveryDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/InsertDeliveryDescriptionResponse" message="tns:IDeliveryDescriptionService_InsertDeliveryDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDescriptionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/GetDeliveryDescriptionById" message="tns:IDeliveryDescriptionService_GetDeliveryDescriptionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/GetDeliveryDescriptionByIdResponse" message="tns:IDeliveryDescriptionService_GetDeliveryDescriptionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/UpdateDeliveryDescription" message="tns:IDeliveryDescriptionService_UpdateDeliveryDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/UpdateDeliveryDescriptionResponse" message="tns:IDeliveryDescriptionService_UpdateDeliveryDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDeliveryDescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/DeleteDeliveryDescription" message="tns:IDeliveryDescriptionService_DeleteDeliveryDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliveryDescriptionService/DeleteDeliveryDescriptionResponse" message="tns:IDeliveryDescriptionService_DeleteDeliveryDescription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeliveryDescriptionService" type="tns:IDeliveryDescriptionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertDeliveryDescription">
      <soap:operation soapAction="http://tempuri.org/IDeliveryDescriptionService/InsertDeliveryDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDescriptionById">
      <soap:operation soapAction="http://tempuri.org/IDeliveryDescriptionService/GetDeliveryDescriptionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryDescription">
      <soap:operation soapAction="http://tempuri.org/IDeliveryDescriptionService/UpdateDeliveryDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeliveryDescription">
      <soap:operation soapAction="http://tempuri.org/IDeliveryDescriptionService/DeleteDeliveryDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryDescriptionService">
    <wsdl:port name="BasicHttpBinding_IDeliveryDescriptionService" binding="tns:BasicHttpBinding_IDeliveryDescriptionService">
      <soap:address location="http://localhost:8084/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>