WebClient/Connected Services/DeliveryDescriptionServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8084/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Model" />
  <xs:element name="InsertDeliveryDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Model" minOccurs="0" name="deliveryDescription" nillable="true" type="q1:ServiceDeliveryDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDeliveryDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDescriptionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryDescriptionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Model" minOccurs="0" name="GetDeliveryDescriptionByIdResult" nillable="true" type="q2:ServiceDeliveryDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeliveryDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Model" minOccurs="0" name="deliveryDescription" nillable="true" type="q3:ServiceDeliveryDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeliveryDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDeliveryDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>